<section class="add-person">
  <div class="title">
    <h1 class="h1-content">Formulário Cadastro</h1>
  </div>
  <form class="form">
    <div class="input-box">
      <label class="label label__name">Nome Completo:</label>
      <input
      class="input input__name"
      [(ngModel)]="form[arrayN].name"
      name="name"
      id="name"
      type="text"
      placeholder="Nome"
      maxlength="64"
      required>

      <label class="label label__phone">Celular:</label>
      <input
      class="input input__phone"
      [(ngModel)]="form[arrayN].phone"
      mask="+00 (00) 00000-0000"
      name="phone"
      id="phone"
      type="number"
      placeholder="Celular"
      maxlength="64"
      required>

      <label class="label label__cpf">CPF: <small>(Apenas numero)</small></label>
      <input
      class="input input__cpf"
      [(ngModel)]="form[arrayN].cpf"
      name="cpf"
      id="cpf"
      type="text"
      placeholder="CPF"
      maxlength="64"
      required>

    </div>

    <div class="apply">
      <span class="warning"></span>
      <button class="apply-form" >Cadastrar</button>
    </div>
  </form>
</section>
