<section class="info-person">

  <div class="title">
    <h1 class="title title__text">Edição de cadastro</h1>
    <button class="title title__close-button" (click)="closePopup()">X</button>
  </div>

  <form class="form">
    <div class="input-box">
      <label class="label label__name">Nome Completo:</label>
      <input
        class="input input__name"
        [(ngModel)]="person.name"
        name="name"
        type="text"
        placeholder="{{nameErrorMsg}}"
        autocomplete="off">

      <label class="label label__phone">Celular:</label>
      <input
        class="input input__phone"
        [(ngModel)]="person.phone"
        mask="+00 (00) 00000-0000"
        name="phone"
        type="text"
        placeholder="{{phoneErrorMsg}}"
        autocomplete="off">

      <label class="label label__cpf">CPF: <small>(Apenas numero)</small></label>
      <input
        class="input input__cpf"
        [(ngModel)]="person.cpf"
        mask="000.000.000-99"
        name="cpf"
        type="text"
        placeholder="{{cpfErrorMsg}}"
        autocomplete="off">
    </div>

    <div class="submit-edit-form">
      <button class="apply-form" (click)="submit()">Aplicar edição</button>
    </div>
  </form>
</section>
