<section class="add-person">

  <div class="title-container">
    <h1 class="title-container__title--text">Cadastro de Usuários</h1>
    <button class="title-container__close-button--text" (click)="closePopup()">X</button>
  </div>

  <form class="form-container">
    <div class="form-container-inputs">

      <label class="form-container-inputs__label">Nome Completo:</label>
      <input
        class="form-container-inputs__inputs"
        [(ngModel)]="form.name"
        name="name"
        type="text"
        placeholder="{{nameErrorMsg}}"
        maxlength="30"
        autocomplete="off">
      <label class="form-container-inputs__label">Celular:</label>
      <input
        class="form-container-inputs__inputs"
        [(ngModel)]="form.phone"
        mask="+00 (00) 00000-0000"
        name="phone"
        type="text"
        placeholder="{{phoneErrorMsg}}"
        maxlength="64"
        autocomplete="off">

      <label class="form-container-inputs__label">CPF: <small>(Apenas números)</small></label>
      <input
        class="form-container-inputs__inputs"
        [(ngModel)]="form.cpf"
        mask="000.000.000-99"
        name="cpf"
        type="text"
        placeholder="{{cpfErrorMsg}}"
        autocomplete="off">

    </div>
    <div class="apply-button-container">
      <span class="apply-button-container__warning--text">{{accountDuplicateErrorMsg}}</span>
      <button class="apply-button-container__submit--button" (click)="submit()">Cadastrar</button>
    </div>
  </form>
</section>
