<section class="add-person">
  <div class="title">
    <h1 class="h1-content">Formulário Cadastro</h1>
    <button class="close-popup" (click)="closePopup()">X</button>
  </div>
  <form class="form">
    <div class="input-box">

      <label class="label label__name">Nome Completo:</label>
      <input
        class="input input__name"
        [(ngModel)]="form.name"
        name="name"
        type="text"
        placeholder="{{nameErrorMsg}}"
        maxlength="64"
        autocomplete="off">

      <label class="label label__phone">Celular:</label>
      <input
        class="input input__phone"
        [(ngModel)]="form.phone"
        mask="+00 (00) 00000-0000"
        name="phone"
        type="text"
        placeholder="{{phoneErrorMsg}}"
        maxlength="64"
        autocomplete="off">

      <label class="label label__cpf">CPF: <small>(Apenas números)</small></label>
      <input
        class="input input__cpf"
        [(ngModel)]="form.cpf"
        mask="000.000.000-99"
        name="cpf"
        type="text"
        placeholder="{{cpfErrorMsg}}"
        autocomplete="off">

    </div>
    <div class="apply">
      <span class="warning">{{accountDuplicateErrorMsg}}</span>
      <button class="apply-form" (click)="submit()">Cadastrar</button>
    </div>
  </form>
</section>
