<section class="delete-person">

  <div class="text-img-container">
    <img
      class="text-img-container__img"
      src="../../assets/img/giphy.webp"
      alt="warning imag for person deletion">

    <label
      class="text-img-container__text">
      Você Realmente Quer Fazer Esta Ação?
    </label>
  </div>

  <div class="buttons-container">
    <button
      class="buttons-container__buttons"
      (click)="exclude()">
      Confirmar exclusão
    </button>

    <button
      class="buttons-container__buttons"
      (click)="cancel()">
      Cancelar exclusão
    </button>
  </div>

</section>
