<section class="delete-person">

  <div class="deletion-question">
    <img
      class="deletion-question deletion-question__img-warning"
      src="../../assets/img/giphy.webp"
      alt="warning imag for person deletion"
    >

    <label
      class="deletion-question deletion-question__text">
      Você Realmente Quer Fazer Esta Ação?
    </label>
  </div>

  <div class="button-deletion-container">
    <button
      class="button-chose button-chose__confirm"
      (click)="exclude()">
      Confirmar exclusão
    </button>

    <button
      class="button-chose button-chose__cancel"
      (click)="cancel()">
      Cancelar exclusão</button>
  </div>

</section>
