<fieldset class="popup-form">
  <div class="deletion-question">
    <img class="deletion-question deletion-question__img-warning" src="https://w0.pngwave.com/png/468/775/warning-sign-exclamation-mark-symbol-png-clip-art-thumbnail.png" alt="warning imag for person deletion">
    <label class="deletion-question deletion-question__text">Você Realmente Quer Fazer fazer esta ação?</label>
  </div>

  <div class="button-deletion-container">
    <button class="button-chose button-chose__confirm" (click)="exclude()">Confirmar exclusão</button>
    <button class="button-chose button-chose__cancel" (click)="cancel()">Cancelar exclusão</button>
  </div>
</fieldset>
