//@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
/* @import "./reset.scss"; */

$buttons: rgb(125, 101, 180);
$buttons-hover: rgb(104, 81, 160);
$background: dimgrey;
$client-div-bar: rgb(171, 184, 196);
$content: rgb(235, 235, 235);
$new-user: rgb(148, 148, 148);

html, body  {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

*{
  //font-family: 'Rubik', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}
