<section class="app">

  <div class="container">

    <div class="new-user">
      <h1 class="title">Lista de Usuários</h1>
      <button
        class="button button__add"
        (click)="openAddPopup()">
        + Novo Usuário +
      </button>
    </div>

    <div class="content">
      <div class="client" *ngFor="let person of persons; let i = index">
        <div class="info">
          <span
            class="person person__name">
            Nome: <strong>{{person.name}}</strong>
          </span>

          <span
            class="person person__phone">
            Celular: {{person.phone | phone}}
          </span>

          <span
            class="person person__cpf">
            CPF: {{person.cpf | cpf}}
          </span>
        </div>

        <div class="buttons">
          <button
            class="button button__info"
            (click)="openInfoPopup(person, i)">
            Informações
          </button>
          <button
            class="button button__delete"
            (click)="openExcludePopup(person, i)">
            Excluir
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="crud-popups-pagination">
    <add-person-popup
      *ngIf="openClosePopupAddPerson"
      (close)="openClosePopupAddPerson = $event"
    ></add-person-popup>

    <info-person-popup
      *ngIf="openClosePopupInfoPerson"
      (close)="openClosePopupInfoPerson = $event"
      [personIndexToEdit]="personIndexToEdit"
    ></info-person-popup>

    <delete-person-popup-confirmation
      *ngIf="openClosePopupDeletionConfirmationPerson"
      (close)="openClosePopupDeletionConfirmationPerson = $event"
    ></delete-person-popup-confirmation>
  </div>

</section>
