@import "../styles.scss";

.app  {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $background;
}

.container {

  .new-user {
    width: 550px;
    background-color: $new-user;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0px 0px;

    .title {
      padding-left: 10px;
    }
  }

  .content {
    background-color: $content;
    width: 100%;
    border-radius: 0px 0px 5px 5px;

    .client {
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      &+.client {
        border-top: 1px solid $client-div-bar;
        border-top-width: 1px;
      }



      .info {
        margin-right: 10px;
        margin-left: 10px;
        width: 300px;

        .person{
          display: block;

        }
      }
    }
  }
}

.button {
  margin-right: 10px;
  width: 120px;
  height: 30px;
  border-radius: 3px;
  border: 0;
  transition: background 1s;
  background-color: $buttons;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  outline: 0;

  &:hover {
    background-color: $buttons-hover;
  }

  &__add {
    width: 140px;
  }

  &__delete {
    width: 90px;
  }
}

.crud-popups-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: absolute;
}
